body {background-color: #F2EAE3}

.navbar {
    display:inline-block;
    background-color: #E2E0DE;
    vertical-align: top;
    color: blue;
    font-size: 30px;
    width: 100%;
    padding: 1%;
}


.logo { 
    width: 23%;
    padding: 1%;
    text-align: left;
}

nav ul {
    width: 70%;
    margin-left: center;
    color:black;
}

div.navbar li.navLinks {
    color:blue;

}

.navLinks {
    color:black;
}

.navLinks:hover {
    color: rgb(143, 200, 219);
}


.heroimg {
    height: 100px;
    padding: 40px;
}

h4 {
    font-size: 40px;
}

ul {
    margin-left: 20px;
    color: black;
    }
    
html {
    scroll-behavior: smooth;
      }

li {
    cursor: default;
    color:black;
  }

li.active {
    background: lightblue;
    color: lightblue;
  }

span {
    color:red;
  }
 
p{
    margin: 3px;
    padding: 20px;
}

footer {
    background-color: #E2E0DE;
    padding: auto;
}

footer ul {
    display: inline-block;
    vertical-align: top;
}

footer li{
    padding: none;
}

.flexContainer {
    display: flex;
    flex-direction: column;
    width: 25%;
    font-size: 20px;
    margin: center;
    padding: 10px;
    align-items: center;
}

.workGrid {
    display: grid;
    flex-wrap: wrap;
    padding: 2%;
}

.item1 {
    grid-area: myArea;
}
.grid-container {
    display: grid;
    grid-template-areas: 'Weevo', 'Garden Plate', 'Start2Finish'
}

.imageSize {
    width: 30%;
}

.selfPhoto {
    width: 200px;
}

@media only screen and (max-width: 600){
   #categoryGrid {
    flex-direction: column;
    grid-template-rows: 300px 300px 300px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 
        "My Skills"
        "My Work"
        "About Me"
        "Contact Me"
        ;
   }
}

html, body {
    margin: 0; padding: 0;
  }
  .hero-bkg-animated {
    background: gray url(https://subtlepatterns.com/patterns/geometry2.png) repeat 0 0;
    width: 100%;
    margin: 0;
    text-align: center;
    height: 300px;
    padding-top: 120px;
    box-sizing: border-box;
    -webkit-animation: slide 20s linear infinite;
  }
  
  .hero-bkg-animated h1 {
    font-family: sans-serif;
  }
  
  @webkit-keyframes slide {
      from { background-position: 0 0; }
      to { background-position: -400px 0; }
  }